<%-include('head')%>
</head>
<body style="text-align: center;">
  <h2>let us log in!</h2>
  <%if(errMsg!== 'undefined' && errMsg && errMsg.length>0){%>
     <div style="background-color: rgb(226, 64, 64); color: white; text-align: center; border: 1px solid black;">
      <ul><%errMsg.forEach( msg=>{%>
        <li>
            <%= msg%>
        </li>
        <%})%>
      </ul>
     </div>
  <%}%>
<form method='POST' action='/login'>
  <div style=" margin-left: 2rem; margin-top: 3rem; ">  
          <div>
                <label for="firstName">firstName:</label>
                <input type="text" id="firstName" name="firstName" placeholder="Enter your first-Name" 
                value="<%= typeof oldInput !== 'undefined' ? oldInput.firstName : '' %>"
                required>
                <br><br>
                <br><br>
                <label for="password">password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <br><br>
                <input type='submit' value='Log In'>
          </div>
  </div>
</form>
<br>
<a href="/">Back to Home</a>
</body>
</html>