
<%-include('head')%>
</head>
<body>
  
  <div style="text-align: center;">
    <p><%=msg%></p>
  <a href="/">Go Back to Home</a><br>
  <a href="/form">Go Back to Form</a><br>
  <a href="/result">See Results</a>
  </div>
</body>
</html>